/* This is the stylesheet for Crazy Bobs Pumpkin Patch*/

html, body, header, nav, footer, div, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin:0;
    padding:0;
}


body {
    background-color:black;
    font-family:'tahoma', san-serif;
    color:#000000;
}


div#container {
    border: 1px solid red;
    background-color:white;
    width:1024px;
    height:auto;
    margin:auto;
}


div#container header {
    background-color: bisque;
    background-image: 
        url(Images/pumpkins.jpg);
    background-repeat:no-repeat;
    background-position: left top;
    background-size: cover;
    color:aqua;
    width:100%;
    height:200px;
    text-align:center;
}


div#container header h1 {
    padding:80px;
    color:aqua;
    text-shadow: 1px 1px black;
}


 nav ul {
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;    
    background-color:black;
}


nav ul li {
    float:left;
}


nav ul li a {
    display:block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}


nav ul li a:hover {
    background-color: orange;
}


.active {
    background-color: orange;
}


div#content {
    display:block;
    width:100%;
    height:auto;
    padding:5px;
}


img#white_orange_pumpkins {
    float:left;
    width:200px;
}


h2{
    float:left;
    margin:10px;
    width:800px;
}


p {
    float:left;
    clear: right;
    margin:10px;
    width:800px;
}


footer {
    padding-top:23px;
    width:100%;
    height:50px;
    color:white;
    background-color:black;
    text-align:center;
}


img#crazy_maze {
    height: 300px;
    width: 350px;
    float: right;
    padding: 10px;
}

/*
ul li#pmpk {
    list-style-image: url(images/pumpkin_bullet.jpg);
    
}


ul li#paint {
    list-style-image: url(images/paintedpumpkin_bullet.jpg);
    
}


ul li#sq {
    list-style-image: url(images/squash_bullet.jpg);
    
}


ul li#corn {
    list-style-image: url(images/corn_bullet.jpg);
    
}


ul li#water {
    list-style-image: url(images/watermelon_bullet.jpg);
    
}
*/

div#produce {
    float: left;
    padding: 25px;
}

img#pump {
    width: 200px;
}


img#ppump {
    width: 200px;
}


img#ccorn {
    width: 200px;
}


img#squash {
    width: 200px; 
}


img#watermelons {
    width: 200px;  
}



img#crazybob {
    float:right;
    padding: 15px;
}


/* Gallery Page */
div#gallery {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div#gallery .frame {
    background-color: bisque;
    border: 2 px solid black;
    float: left;
}

img.galleryimg {
    width: 200px;
    height: 150px;
    margin: 5px 10px;
}


/* Contact */

form fieldset {
    background-color: lightgray;
}


form fieldset legend {
    border: 1px solid black;
    background-color:aqua;
    font-weight: bold;
}


form input {
    margin: 5px 0;
}


/* Keep Web Pages Open */

.keepOpen {
    clear: both;
}





















